.card-beige{
	background-color:#FEF4E1;	
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	width: 115px;
	height: 164px;
	align-items: center;
	padding-top: 7px;
}

.image-meal {
    height: 92px;
    width: 92px;
    margin: 0 auto;
}

.image-meal img {
	height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.meal{margin: auto;}
